<div class="row" ng-hide="ready" class="ng-hide">
  <div class="col-md-12"><p>Aguarde mientras se cargan los datos</p></div>
</div>

<div class="row" ng-hide="!ready" class="ng-hide">
  <div class="col-sm-4">
      <uib-accordion close-others="oneAtATime">
        <uib-accordion-group heading="{{persona.nombre}}" is-open="status.isFirstOpen" is-disabled="status.isFirstDisabled">
          <strong>{{persona.tipo_doc_text}}:</strong> {{persona.doc_num}}<br>
          <strong>Dirección:</strong> {{persona.calle}} {{persona.numero}}<br>
          <strong>Localidad:</strong> ({{persona.zipcode}}) {{persona.localidad_nombre}}<br>
          <strong>IVA:</strong> {{persona.dato_impositivo_text}}<br>
          <strong>Cond. Comercial:</strong> {{persona.forma_pago_text}}<br>
          <strong>Bonificaciones:</strong> {{persona.bonificacion_text}}<br>
        </uib-accordion-group>
        <uib-accordion-group heading="{{cuenta.provincia_id == 20 ? 'CAPITAL FEDERAL' : cuenta.localidad_nombre}}" ng-repeat="cuenta in cuentas">
          <strong>Cuenta N°:</strong> {{cuenta.id}}<br>
          <strong>Dirección:</strong> {{cuenta.calle}} {{cuenta.numero}}<br>
          <strong>Localidad:</strong> ({{cuenta.zipcode}}) {{cuenta.provincia_id == 20 ? 'CAPITAL FEDERAL' : cuenta.localidad_nombre}}<br>
          <strong>Contactos:</strong> 
          <ul>
            <li ng-repeat="contacto in cuenta.contactos">
              {{contacto.valor}}
            </li>
          </ul>
          <strong>Entrega:</strong> {{cuenta.entrega[0].nombre}}<br>
          <strong>Observaciones:</strong><p>{{cuenta.observaciones}}</p>
          <p>&nbsp;</p>
          <a ng-href="#/ordenes/cargar/{{cuenta.id}}" class="btn btn-primary btn-sm btn-block" ><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Crear Orden</a>
        </uib-accordion-group>
      </uib-accordion>
  </div>

  <div class="col-sm-8">
    <uib-accordion>
        <uib-accordion-group heading="Cargar Cuenta" is-open="cCFirstOpen">
          <form role="form" name="AgregarNuevaCuenta" ng-submit="AgregarCuenta()" class="form-horizontal">
        <!-- Text input-->
          <div class="form-group">
            <label class="col-sm-2 control-label" for="textinput">Dirección</label>
            <div class="col-sm-7">
              <input type="text" name="calle" placeholder="Calle" class="form-control" ng-model="cuenta.direccion.calle" required ng-maxlength="50" ng-minlength="3" maxlength="50">
              <div ng-messages="AgregarNuevaCuenta.calle.$error" style="color:red" role="alert" ng-if="CargarClienteForm.calle.$dirty">
                <div ng-message="required">Este campo es obligatorio</div>
                <div ng-message="minlength">El texto es muy corto</div>
                <div ng-message="maxlength">El texto es muy largo</div>
              </div>
            </div>
            <div class="col-sm-3">
              <input type="text" placeholder="Número" class="form-control" ng-model="cuenta.direccion.numero">
            </div>
          </div>

           <!-- Text input-->
          <div class="form-group">
            <label class="col-sm-2 control-label" for="textinput">País</label>
            <div class="col-sm-10">
              <select class="form-control" name="pais" ng-model="cuenta.direccion.pais" ng-options="item as item.nombre for item in paises track by item.id" ng-change="PaisCambio()">
                <option value="">------</option>
              </select>
              <div ng-messages="CargarClienteForm.pais.$error" style="color:red" role="alert">
                <div ng-message="required">Este campo es obligatorio</div>
              </div>
            </div>
          </div>

          <!-- Text input-->
          <div class="form-group">
            <label class="col-sm-2 control-label" for="textinput">Provincia</label>
            <div class="col-sm-4">
              <select class="form-control" name="provincia" ng-model="cuenta.direccion.provincia" ng-disabled="provincias == null" ng-options="item as item.nombre for item in provincias track by item.id" ng-change="ProvinciaCambio()">
                <option value="">------</option>
              </select>
            </div>

            <label class="col-sm-2 control-label" for="textinput">Zipcode</label>
            <div class="col-sm-4">
              <input type="text" placeholder="Zipcode" class="form-control" ng-model="cuenta.direccion.zipcode" ng-keyup="ZipCodeCambio()" ng-disabled="cuenta.direccion.zipcode == null" autocomplete="off">
            </div>
          </div>

          <!-- Text input-->
          <div class="form-group">
            <label class="col-sm-2 control-label" for="textinput">Ciudad</label>
            <div class="col-sm-10">
              <select class="form-control" name="localidad" ng-model="cuenta.direccion.localidad" ng-disabled="localidades == null" ng-options="item as item.nombre for item in localidades track by item.id" ng-change="LocalidadCambio()">
                <option value="">------</option>
              </select>
            </div>
          </div>
          <div class="form-group">
          <label class="col-sm-2 control-label" for="textinput">Contacto</label>
              <div class="col-sm-10">
                <button type="button" class="btn btn-primary" ng-click="showModalContacto()">Añadir contacto</button>
                Este cliente tiene {{cuenta.contacto.length}} contactos.
              </div>
          </div>

           <!-- Text input-->
          <div class="form-group">
                <label class="col-sm-2 control-label" for="textinput">Entrega</label>
                <div class="col-sm-8">
                  <md-autocomplete
                      ng-disabled="isDisabled"
                      md-no-cache="noCache"
                      md-selected-item="cuenta.entrega"
                      md-search-text-change="searchTextChange(searchText)"
                      md-search-text="searchText"
                      md-selected-item-change="selectedItemChange(item)"
                      md-items="item in querySearch(searchText)"
                      md-item-text="item.nombre"
                      md-min-length="0"
                      placeholder="Buscar transporte">
                    <md-item-template>
                      <span md-highlight-text="searchText" md-highlight-flags="^i">{{item.nombre}}</span>
                    </md-item-template>
                    <md-not-found>
                      No se encontraron resultados para "{{searchText}}".
                      <a ng-click="showModalTransporte()">Agregar un nuevo transporte</a>
                    </md-not-found>
                  </md-autocomplete>
                  <div ng-if="cliente.entrega != null">
                    <h4>Modo de entrega seleccionado</h4>
                    <p>{{cliente.entrega.nombre}}</br>
                    {{cliente.entrega.direccion}}, {{cliente.entrega.localidad_nombre}}</p>
                  </div>
                  
                </div>
                 <div class="col-sm-2"><button class="btn btn-primary" ng-click="showModalTransporte()">Agregar</button></div>
              </div>

          <div class="form-group">
            <label class="col-sm-2 control-label" for="textinput">Observ.</label>
            <div class="col-sm-10">
              <textarea name="observaciones" class="form-control" ng-model="cuenta.observaciones" ></textarea>
            </div>
          </div>
          <hr/>
          <button type="submit" class="btn btn-primary pull-right">Guardar</button>
          </form>
        </uib-accordion-group>
      </uib-accordion>
<div class="panel panel-default">
      <!-- Default panel contents -->
      <div class="panel-heading">Historial del cliente</div>

      <!-- Table -->
      <table class="table">
        <thead>
          <tr><th>Num.</th><th>Cuenta</th><th>Referencia</th><th>Fecha</th><th>&nbsp;</th></tr>
        </thead>
        <tbody>
          <tr ng-repeat="orden in ordenes" ng-hide="ordenes.length < 1" ng-class="{ 'success': orden.finalizado != null ? true : false, 'warning': orden.finalizado == null ? true : false }">
            <td><a ng-href="#/ordenes/ver/{{orden.id}}">{{orden.id}}</a></td>
            <td>{{returnOrdenAddress(orden.cuenta_id)}}</td>
            <td>{{orden.referencia}}</td>
            <td>{{orden.creado}}</td>
            <td style="min-width: 90px;">
              <div class="btn-group pull-right" role="group" aria-label="acciones">
                <a class="btn btn-info btn-xs" title="Ver" ng-href="#/ordenes/ver/{{orden.id}}"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span></a>
                <a class="btn btn-primary btn-xs" title="Imprimir" ng-href="server/print/orden/{{cpUserData.access_token}}/{{orden.id}}"><span class="glyphicon glyphicon-print" aria-hidden="true"></span></a>
                <a class="btn btn-danger btn-xs" title="Eliminar" ng-click="setOrdenDelete(orden.id, $index)"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>
              </div>
            </td>
          </tr>
          <tr ng-hide="ordenes.length > 0"><td colspan="5">El cliente no tiene ordenes</td></tr>
        </tbody>
      </table>
    </div>
    
</div>

<nuevo-contacto></nuevo-contacto>
<nuevo-transporte></nuevo-transporte>

<div modal-show class="modal fade" modal-visible="EliminarOrdenConfirmacion">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Advertencia</h4>
      </div>
      <div class="modal-body">
        <p class="text-danger">¿Está seguro que desea eliminar esta orden?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-danger" ng-click="eliminarOrden()">Eliminar</button>
      </div>
    </div>
  </div>
</div>